#topPage{
	background-color: black;
	color: white;
}

#menuRight{
	background-color: lightgray;
	color: black;
	border-style: solid;
}

#RightMenuNav{
	background-color: lightgray;
	border-style: none;
}

#RightMenuNav ul li a{
	color: gray;
}

#RightMenuNav ul li a:hover{
	color: white;
	background-color: green;
}

#result{
	margin: 3px;
}

#insideResult{
	margin: 3px;
}